@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<table>
    <tr><td>Name: </td><td>@HttpContextAccessor.HttpContext.Request.Cookies["Firstname"] @HttpContextAccessor.HttpContext.Request.Cookies["Lastname"]</td></tr>


</table>