@model ReviewWeb.Models.Artifact.IbmUrlViewModel

@{
    ViewData["Title"] = "PlanedTask";
}

<h2>PlanedTask</h2>

<h4>IbmUrlViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GetTasksFromIBM" asp-controller="Project" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group" hidden="hidden">
                <label asp-for="ProjectId" class="control-label"></label>
                <input asp-for="ProjectId" class="form-control" value="@ViewBag.ProjectId"/>
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
      
            <div class="form-group">
                <input type="submit" value="Download" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="@Url.Action("ProjectDetail","Project", new { projectId = ViewBag.ProjectId })">Back</a>
</div>

