
@{
    ViewData["Title"] = "Project";
}

<center><h2>Projects</h2></center>

<table class="table" id="projectsTable">
    <thead>
        <tr><th>Project ID</th><th>Name</th><th>Description</th></tr>
        
    </thead>
    <tbody>
        @foreach (var p in ViewBag.Projects)
        {
            <tr><td>@p.Id</td><td><a href="@Url.Action("ProjectDetail","Project", new { projectId=@p.Id})">@p.Name</a></td><td>@p.Description</td></tr>
        }
    </tbody>
</table>
<center><a class="btn btn-primary" asp-action="CreateProject" asp-controller="Project" asp-><i class="fas fa-plus-circle"></i> Create project</a></center>
<script>
    $(document).ready(function () {
        tbl = $('#projectsTable').DataTable(
            {
                paging: true,
            });
    });

</script>
