@model ReviewWeb.Models.Artifact.IbmUrlViewModel

@{
    ViewData["Title"] = "ReviewSetup";
}
<center>
    <h2>Download Artifacts</h2>
</center>

<hr />
<div class="row">
    <div class="col"></div>
    <div class="col-md-4">
        <form method="post" asp-controller="Artifact" asp-action="CheckIbmXml">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" required id="name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" required id="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" id="url" />
                <span asp-validation-for="Url" class="text-danger"></span>
                <input asp-for="ProjectId" hidden value="@ViewBag.projectId" />
                @if (ViewBag.workProductId != null)
                {
                    <input asp-for="WorkProductId" hidden value="@ViewBag.workProductId" />
                }
            </div>
            <div class="form-group">
                <!--<button type="button" class="btn btn-primary">Download XML</button>-->
                <center><input type="submit" value="Download" class="btn btn-primary" /></center>
                <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" onclick="getXmlNodes();">Add work product</button>-->
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>

<div>
    <a href="@Url.Action("GetWorkProductDetail","Project", new { id = ViewBag.workProductId})">Back</a>
</div>